
/.vs/RimDialogue/CopilotIndices
/.vs/RimDialogue/FileContentIndex
/.vs/RimDialogue/DesignTimeBuild
/build
/releases
/RimDialogue/bin
/RimDialogue/obj
/RimDialogue/wwwroot/lib
/.vs
/RimDialogue/Output
RimDialogue/appsettings.json
RimDialogue/appsettings.Development.json
RimDialogue/Properties/PublishProfiles/Default Settings.pubxml.user
RimDialogue/Properties/PublishProfiles/Default Settings.pubxml.user
RimDialogue/Properties/PublishProfiles/Default Settings.pubxml.user
/RimDialogue/Properties/PublishProfiles
*.user
RimDialogue/barebones_appsettings.json
